<app-main-nav>
    <section class="banner-section">
       
        <div class="event-name">
            <img src="../../../assets/banner-mad-in-brazza.svg" class="banner">

        </div>

        <div class="wrapper">
            <h1>Mad in Brazza | Rap Festival</h1>
            <div class="event-info">
                <div class="location">
                    <svg width="17" height="21" viewBox="0 0 17 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.12991 12.1963C10.372 12.1963 12.1954 10.373 12.1954 8.13088C12.1954 5.88879 10.372 4.06543 8.12991 4.06543C5.88781 4.06543 4.06445 5.88879 4.06445 8.13088C4.06445 10.373 5.88781 12.1963 8.12991 12.1963ZM8.12991 6.09816C9.25096 6.09816 10.1626 7.00984 10.1626 8.13088C10.1626 9.25193 9.25096 10.1636 8.12991 10.1636C7.00886 10.1636 6.09718 9.25193 6.09718 8.13088C6.09718 7.00984 7.00886 6.09816 8.12991 6.09816Z" fill="#FF7A00"/>
                        <path d="M7.54151 20.1382C7.71836 20.2643 7.92468 20.3273 8.131 20.3273C8.33732 20.3273 8.54364 20.2643 8.72049 20.1382C9.02946 19.9197 16.2914 14.6763 16.2619 8.13091C16.2619 3.64773 12.6142 0 8.131 0C3.64782 0 8.94783e-05 3.64773 8.94783e-05 8.12583C-0.0293851 14.6763 7.23253 19.9197 7.54151 20.1382ZM8.131 2.03273C11.4941 2.03273 14.2292 4.76776 14.2292 8.13599C14.2505 12.6466 9.76938 16.6968 8.131 18.0252C6.49364 16.6958 2.01147 12.6446 2.03282 8.13091C2.03282 4.76776 4.76785 2.03273 8.131 2.03273Z" fill="#FF7A00"/>
                    </svg>

                    <p>Jockey Club - Curitiba, PR</p>
                </div>
                
                <div class="time">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10 0C4.47581 0 0 4.47581 0 10C0 15.5242 4.47581 20 10 20C15.5242 20 20 15.5242 20 10C20 4.47581 15.5242 0 10 0ZM10 18.0645C5.54435 18.0645 1.93548 14.4556 1.93548 10C1.93548 5.54435 5.54435 1.93548 10 1.93548C14.4556 1.93548 18.0645 5.54435 18.0645 10C18.0645 14.4556 14.4556 18.0645 10 18.0645ZM12.4919 13.8548L9.06855 11.3669C8.94355 11.2742 8.87097 11.129 8.87097 10.9758V4.35484C8.87097 4.08871 9.08871 3.87097 9.35484 3.87097H10.6452C10.9113 3.87097 11.129 4.08871 11.129 4.35484V10.0685L13.8226 12.0282C14.0403 12.1855 14.0847 12.4879 13.9274 12.7056L13.1694 13.75C13.0121 13.9637 12.7097 14.0121 12.4919 13.8548Z" fill="#FF7A00"/>
                    </svg>
                    
                    <p>13h - 22h</p>
                </div>
                    
            </div>

            <div class="event-about">
                <h2>Sobre o evento</h2>
                <p class="desc">Mad in brazza, o maior festival de rap da capital paranaense! a segunda edição do festival mad in brazza vem aí, dia 19 de agosto! a edição contará com os maiores nomes do rap e trap nacional, funk e muita diversão.</p>
                <p>A partir de: <span>160,00</span></p>

                <div class="options">
                    <div class="buy-ticket-container">
                        <img src="../../../assets/big-ticket-button.svg" class="buy-ticket">
                    </div>

                    <div class="grey-ticket-container">
                        <img src="../../../assets/grey-ticket-button.svg" class="grey-ticket">
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="more-info-section">
        <div class="wrapper">
            <div class="typo-info">
                <h2>Mais informações</h2>

                <p class="sales-until">Vendas abertas até <span>21.06.2023</span></p>
                <hr>

                <p>A segunda edição do festival Mad in Brazza vem aí, dia 29 de outubro, A edição contará com a seguinte lista dos maiores nomes do rap e trap nacional, funk e muita diversão.</p>
            </div>

            <div class="artist-container">
                <app-artist></app-artist>
                <app-artist></app-artist>
                <app-artist></app-artist>
                <app-artist></app-artist>
                <app-artist></app-artist>
                <app-artist></app-artist>
                <app-artist></app-artist>
                <app-artist></app-artist>
                <app-artist></app-artist>
                <app-artist></app-artist>
            </div>

            <div class="observation">
                <strong>* Menores de idade poderão acessar o evento apenas com a presença dos pais ou um acompanhante legal.</strong>

                <p>Apresentar documento original com foto junto do ingresso.</p>

                <p>Os ingressos serão mantidos no seu perfil e também em formato QRcode.<br>
                    (Observação: Não compartilhe seu QRCODE com mais ninguém, a validação é feita uma única vez após leitura na bilheteria para manter sua própria segurança)</p>
            </div>
        </div>
    </section>

    <section class="classification-section">
        <div class="wrapper">
            <h2>Classificação e avaliação</h2>
            <p class="class-scale"><span id="nota">4,9</span> de 5</p>
    
            <p>Esta nota do evento foi calculada com base em avaliações de pessoas que compareceram ao evento e deixaram sua opinião.</p>
            <hr>
    
            <app-card-user-feedback></app-card-user-feedback>
            <app-card-user-feedback></app-card-user-feedback>
        </div>

    </section>

    <app-footer></app-footer>
</app-main-nav>