<app-main-nav>

    <div class="wrapper">

        <h1 class="title">Editando Perfil</h1>
    
        <div class="main-info">
            <img src="../../../assets/Mask group.svg" alt="">
            <div class="info-box">
                <div class="name">Gustavo Guimarães Martins</div>
                <div class="email">gustavo.guimaraes@gmail.com</div>
            </div>
        </div>
    
        <h1 class="title more-info">Insira as novas informações</h1>
        <div class="line"></div>
    
        <form action="">
    
            <div class="input-content">
                <p>Nome</p>
                <div class="input-box">
                    <i class='bx bxs-user'></i>
                    <input id="Nome" type="text" required>
                </div>
            </div>
    
            <div class="input-content">
                <p>Email</p>
                <div class="input-box">
                    <i class='bx bxs-envelope'></i>
                    <input id="Email" type="text" required>
                </div>
            </div>
    
            <div class="input-content">
                <p>Senha antiga</p>
                <div class="input-box">
                    <i class='bx bxs-lock-alt' ></i>
                    <input id="Senha" type="password" required>
                </div>
            </div>
    
            <div class="input-content">
                <p>Senha nova</p>
                <div class="input-box">
                    <i class='bx bxs-lock-alt' ></i>
                    <input id="ConfirmSenha" type="password" required>
                </div>
            </div>
    
            <div class="btns-box">
                <button id="edit-profile-btn">Salvar informações</button>
                <button id="cancel-edit-profile-btn" class="cancel-btn">Cancelar</button>
            </div>
    
        </form>
        
    </div>
    
    <app-footer></app-footer>

</app-main-nav>