<div class="main-container">

    <div class="popup center">
        <div class="overlay">
            <div class="content">
                <div class="title">Confirme seu endereço de E-mail</div>
                <div class="description">Toque no botão abaixo para confirmar seu endereço de e-mail. Se você não criou uma conta com o Tolá,
                pode excluir este e-mail com segurança.</div>
                <button>Confirmar E-mail</button>

                <p>Obrigado, equipe Tolá</p>
            </div>
        </div>
    </div>

    <div class="column first-column">

        <div class="content-container">

            <div class="title">
                <h2>Realize seu cadastro</h2>
                <div class="line"></div>
            </div>

            <p class="text">Ao preencher suas informações abaixo você poderá criar uma conta em nosso site</p>

            <form action="">

                <div class="input-content">
                    <p>Nome</p>
                    <div class="input-box">
                        <i class='bx bxs-user'></i>
                        <input type="text" required>
                    </div>
                </div>

                <div class="input-content">
                    <p>Email</p>
                    <div class="input-box">
                        <i class='bx bxs-envelope'></i>
                        <input type="text" required>
                    </div>
                </div>

                <div class="input-content">
                    <p>Senha</p>
                    <div class="input-box">
                        <i class='bx bxs-lock-alt' ></i>
                        <input type="password" required>
                    </div>
                </div>

                <div class="input-content">
                    <p>Confirmar Senha</p>
                    <div class="input-box">
                        <i class='bx bxs-lock-alt' ></i>
                        <input type="password" required>
                    </div>
                </div>

                <button id="create-account-btn">Criar Conta</button>

            </form>

            <div class="have-account">
                <p>Já possui uma conta?</p>
                <span>Entrar agora</span>
            </div>

        </div>

    </div>
    
    <div class="column second-column">

        <div class="content-container">

            <div class="logo">
                <img src="../../../assets/white-logo.svg" alt="">
            </div>
            <div class="text-container">
                <div class="align-end">
                    <h1>Seja bem vindo ao nosso site!</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <img src="../../../assets/Arrow.svg" alt="">
            
                </div>
                <div class="align-left">
                    <h3>Ao realizar o cadastro conosco, estará apto para:</h3>
                    <div class="card-container">
                        <div class="card-box">
                            <div class="title">ENCONTRE EVENTOS</div>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>
                        </div>
                        <div class="card-box">
                            <div class="title">COMPRE SEU INGRESSO</div>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>
                        </div>
                        <div class="card-box">
                            <div class="title">COMPRE SEU INGRESSO</div>
                            <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>
                        </div>
            
                    </div>
                </div>
                <p class="reserved-rights">Todos os direitos reservados © 2023 | Equipe ToLá</p>
            </div>

        </div>

    </div>

</div>