<app-main-nav>

    <div class="wrapper">

        <section class="first-section">
            <div class="location">
                <i class='bx bx-map'></i>
                <p>Curitiba, Paraná - Brasil</p>
                <div class="change-location"><button>Trocar</button></div>
            </div>
            <div class="title">Que tipo de evento você procura?</div>
            <div class="event-container">
                <div class="event-type">
                    <div class="event"><i class='bx bxs-disc'></i></div>
                    <div class="label">Show</div>
                </div>
                <div class="event-type">
                    <div class="event"><i class='bx bx-knife'></i></div>
                    <div class="label">Gastronomico</div>
                </div>
                <div class="event-type">
                    <div class="event"><i class='bx bxs-car'></i></div>
                    <div class="label">Carro</div>
                </div>
                <div class="event-type">
                    <div class="event"><i class='bx bxs-hot' ></i></div>
                    <div class="label">Festival</div>
                </div>
                <div class="event-type">
                    <div class="event"><i class='bx bx-glasses-alt' ></i></div>
                    <div class="label">Geek</div>
                </div>
                <div class="event-type">
                    <div class="event"><i class='bx bx-laptop'></i></div>
                    <div class="label">Curso</div>
                </div>
                <div class="event-type">
                    <div class="event"><i class='bx bxs-disc'></i></div>
                    <div class="label">Comédia</div>
                </div>
                <div class="event-type">
                    <div class="event"><i class='bx bxs-microphone'></i></div>
                    <div class="label">Palestra</div>
                </div>
            
            </div>
            <div class="title sugestion">Sugestão de Evento</div>
            <div class="sugestion-container">
                <div class="image"><img src="../../../assets/Sugestao-evento.png" alt=""></div>
                <div class="event-description">
                    <div class="title">Mad in Brazza Rap Festival 2022</div>
                    <hr>
                    <div class="subtitle desc">Descrição do evento</div>
                    <div class="description">
                        Sexta-feira dia 07 de abril, o TRAP e o FUNK invade a @shedbarcuritiba com o show do DJ e produtor @wcnobeat!
                        <br><br>
                        WC no Beat vem colecionando hits de grande sucesso como “Meu mundo”, “Na onda do Gin”, “Sem Limites” e muitos outros.
                    </div>
                    <div class="location">
                        <i class='bx bx-map'></i>
                        <p>Evento presencial em</p>
                        <p class="event-local">Shed Bar, Curitiba - PR</p>
                    </div>
                    <img class="ticket-button" src="../../../assets/big-ticket-button.svg" alt="">
                </div>
            </div>
        </section>
    
        <section class="second-section">
            <div class="top-events">
                <div class="title-box">
                    <div class="title">Eventos em alta</div>
                    <p>VER TODOS</p>
                </div>
                <div class="events-container">
                    <a href="#">
                        <div class="event-card">
                            <img src="../../../assets/evento.png" alt="">
                            <div class="date">28 de maio, 19H - Curitiba</div>
                            <div class="event-name">Mad in Brazza - Rap Festival</div>
                            <div class="local">Jockey Club - Curitiba, CWB</div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="event-card">
                            <img src="../../../assets/evento.png" alt="">
                            <div class="date">28 de maio, 19H - Curitiba</div>
                            <div class="event-name">Mad in Brazza - Rap Festival</div>
                            <div class="local">Jockey Club - Curitiba, CWB</div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="event-card">
                            <img src="../../../assets/evento.png" alt="">
                            <div class="date">28 de maio, 19H - Curitiba</div>
                            <div class="event-name">Mad in Brazza - Rap Festival</div>
                            <div class="local">Jockey Club - Curitiba, CWB</div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="event-card">
                            <img src="../../../assets/evento.png" alt="">
                            <div class="date">28 de maio, 19H - Curitiba</div>
                            <div class="event-name">Mad in Brazza - Rap Festival</div>
                            <div class="local">Jockey Club - Curitiba, CWB</div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="event-card">
                            <img src="../../../assets/evento.png" alt="">
                            <div class="date">28 de maio, 19H - Curitiba</div>
                            <div class="event-name">Mad in Brazza - Rap Festival</div>
                            <div class="local">Jockey Club - Curitiba, CWB</div>
                        </div>
                    </a>
                </div>
            </div>
        </section>
    
        <section class="third-section">
    
            <div class="title">Achamos que você vai gostar</div>
    
            <div class="suggestion-box">
    
                <div class="event-category">
                    <h3 class="subtitle">Show</h3>
                    <div class="suggestion-card-container">
                        <a href="#">
                            <div class="event-card">
                                <img src="../../../assets/evento-show.png" alt="">
                                <div class="event-text">
                                    <div class="date">28 de maio, 19H - Curitiba</div>
                                    <div class="event-name">Mad in Brazza - Rap Festival</div>
                                    <div class="local">Jockey Club - Curitiba, CWB</div>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="event-card">
                                <img src="../../../assets/evento-show.png" alt="">
                                <div class="event-text">
                                    <div class="date">28 de maio, 19H - Curitiba</div>
                                    <div class="event-name">Mad in Brazza - Rap Festival</div>
                                    <div class="local">Jockey Club - Curitiba, CWB</div>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="event-card">
                                <img src="../../../assets/evento-show.png" alt="">
                                <div class="event-text">
                                    <div class="date">28 de maio, 19H - Curitiba</div>
                                    <div class="event-name">Mad in Brazza - Rap Festival</div>
                                    <div class="local">Jockey Club - Curitiba, CWB</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
    
                <div class="event-category">
                    <h3 class="subtitle">Gastronomia</h3>
                    <div class="suggestion-card-container">
                        <a href="#">
                            <div class="event-card">
                                <img src="../../../assets/evento-gastronomia.png" alt="">
                                <div class="event-text">
                                    <div class="date">28 de maio, 19H - Curitiba</div>
                                    <div class="event-name">Mad in Brazza - Rap Festival</div>
                                    <div class="local">Jockey Club - Curitiba, CWB</div>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="event-card">
                                <img src="../../../assets/evento-gastronomia.png" alt="">
                                <div class="event-text">
                                    <div class="date">28 de maio, 19H - Curitiba</div>
                                    <div class="event-name">Mad in Brazza - Rap Festival</div>
                                    <div class="local">Jockey Club - Curitiba, CWB</div>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="event-card">
                                <img src="../../../assets/evento-gastronomia.png" alt="">
                                <div class="event-text">
                                    <div class="date">28 de maio, 19H - Curitiba</div>
                                    <div class="event-name">Mad in Brazza - Rap Festival</div>
                                    <div class="local">Jockey Club - Curitiba, CWB</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
    
                <div class="event-category">
                    <h3 class="subtitle">Esportes</h3>
                    <div class="suggestion-card-container">
                        <a href="#">
                            <div class="event-card">
                                <img src="../../../assets/evento-esporte.png" alt="">
                                <div class="event-text">
                                    <div class="date">28 de maio, 19H - Curitiba</div>
                                    <div class="event-name">Mad in Brazza - Rap Festival</div>
                                    <div class="local">Jockey Club - Curitiba, CWB</div>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="event-card">
                                <img src="../../../assets/evento-esporte.png" alt="">
                                <div class="event-text">
                                    <div class="date">28 de maio, 19H - Curitiba</div>
                                    <div class="event-name">Mad in Brazza - Rap Festival</div>
                                    <div class="local">Jockey Club - Curitiba, CWB</div>
                                </div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="event-card">
                                <img src="../../../assets/evento-esporte.png" alt="">
                                <div class="event-text">
                                    <div class="date">28 de maio, 19H - Curitiba</div>
                                    <div class="event-name">Mad in Brazza - Rap Festival</div>
                                    <div class="local">Jockey Club - Curitiba, CWB</div>
                                </div>
                            </div>
                        </a>
                    </div>
                     </div>
                </div>
    
        </section>
    
    </div>
    
    <app-footer></app-footer>

</app-main-nav>