<div class="card">
    <div class="identification">
        <div class="image-client"></div>
        <div class="info-id">
            <h3>Name</h3>
            <p class="hole">Hole</p>
            <p class="age">00y - City, Country</p>
        </div>
    </div>

    <div class="biografy">
        <p class="head">Evento participado</p>
        <p>Nome do evento</p>
        <p class="head">Avaliação</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <img src="../../../assets/mock-card-ticket.svg" class="mock-ticket">
</div>