<app-home-nav>
    <section class="hero-section">
        <div class="wrapper">
            <img src="../../../assets/behind-hero-complete.svg" class="behind-hero-complete">
            <img src="../../../assets/behind-hero.svg" class="behind-hero">
            <div class="main-typo">
                <h1>Viva uma vida de momentos inesquecíveis</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo.</p>
                <div class="pseudo-button">
                    <img src="../../../assets/small-ticket-button.svg" alt="main button">
                </div>
            </div>
            <img src="../../../assets/hero-image.svg" class="hero-image">
        </div>
    </section>

    <section class="data-section">
        <div class="wrapper">
            <div class="data-typo">
                <h2>Mais de 10 anos organizando eventos</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
    
            <div class="info">
                <div class="item">
                    <p class="head">300+</p>
                    <p>Eventos realizados</p>
                </div>
                <hr>
                <div class="item">
                    <p class="head">120</p>
                    <p>Eventos realizados</p>
                </div>
                <hr>
                <div class="item">
                    <p class="head">10</p>
                    <p>Eventos realizados</p>
                </div>
    
            </div>
        </div>
        
    </section>

    <section class="about-section">
        <div class="wrapper">
            <img src="../../../assets/about-image.svg" class="about-image">
            <div class="typo-about">
                <h2>Proporcionamos o melhor da sua região</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
                <div class="pseudo-button-about">
                    <img src="../../../assets/big-ticket-button.svg">
                </div>

            </div>
        </div>
    
    </section>

    <section class="clients-section">
        <div class="wrapper">
            <div class="typo-clients">
                <p class="sub-title">Avaliações</p>
                <h2>O que nossos usuários dizem</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="page-counter">1/4 <svg width="66" height="8" viewBox="0 0 66 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M65.3536 4.35355C65.5488 4.15829 65.5488 3.84171 65.3536 3.64645L62.1716 0.464466C61.9763 0.269204 61.6597 0.269204 61.4645 0.464466C61.2692 0.659728 61.2692 0.976311 61.4645 1.17157L64.2929 4L61.4645 6.82843C61.2692 7.02369 61.2692 7.34027 61.4645 7.53553C61.6597 7.7308 61.9763 7.7308 62.1716 7.53553L65.3536 4.35355ZM0 4.5H65V3.5H0V4.5Z" fill="black"/>
                    </svg>
                </div>
            </div>

            <div class="cards">
                <app-home-card></app-home-card>
                <app-home-card></app-home-card>
                <app-home-card></app-home-card>
            </div>
        </div>
    </section>

    <section class="questions-section">
        <div class="wrapper">
            <h2>Perguntas frequentes</h2>
            <div class="questions">
                <div class="item">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title class="header">É possível retirar ingressos físicos?</mat-panel-title>
                        </mat-expansion-panel-header>
        
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </mat-expansion-panel>
                    <hr>
                </div>
                <div class="item">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title class="header">O que acontece em caso de cancelamento do evento?</mat-panel-title>
                        </mat-expansion-panel-header>
        
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </mat-expansion-panel>
                    <hr>
                </div>
                <div class="item">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title class="header">Como consigo comprar meu ingresso?</mat-panel-title>
                        </mat-expansion-panel-header>
        
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </mat-expansion-panel>
                    <hr>
                </div>
                <div class="item">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title class="header">Que tipo de música vai tocar?</mat-panel-title>
                        </mat-expansion-panel-header>
        
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </mat-expansion-panel>
                    <hr>
                </div>

            </div>

        </div>
    </section>

    <section class="buy-ticket-section">
        <img src="../../../assets/background-buy-ticket-section.svg" class="background-buy-ticket">
        <div class="wrapper">
            <h1>Compre o seu primeiro ingresso</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <button class="learn-more">
                <p>Ver mais</p>
                <div class="circle">
                    <svg width="29" height="25" viewBox="0 0 29 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.609488 10.9617H22.5264L14.5731 3.00846L16.6978 0.883789L28.2783 12.4643L16.6978 24.0448L14.5731 21.9202L22.5264 13.9669H0.609488V10.9617Z" fill="#FF7A00"/>
                    </svg>    
                </div>
            </button>
        </div>
    </section>
    <app-footer></app-footer>
</app-home-nav>
