/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$primary-color: #FF7A00;
$secondary-color: #18151C;
$black-color: #000;
$white-color: #fff;
$fade-color: #8A2020;

*{
    margin: 0;
    padding: 0;
    font-family: Inter;
}