<div class="main-container">

    <div class="column first-column">

        <div class="content-container">

            <a href="http://localhost:4200/events-home">
                <div class="logo">
                    <img src="../../../assets/white-logo.svg">
                </div>
            </a>


            <h1>Bem vindo de volta!</h1>
            <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <img src="../../../assets/Arrow-right.svg" alt="">
            <p class="create-account">Não possui uma conta?</p>
            <button routerLink="signup">Criar Conta</button>

        </div>

    </div>

    <div class="column second-column">

        <div class="content-container">

            <div class="title">
                <h2>Realize seu cadastro</h2>
                <div class="line"></div>
            </div>

            <p class="text">Ao preencher suas informações abaixo você poderá criar uma conta em nosso site</p>

            <form action="">

                <div class="input-content">
                    <p>Email</p>
                    <div class="input-box">
                        <i class='bx bxs-envelope'></i>
                        <input type="text">
                    </div>
                </div>

                <div class="input-content">
                    <p>Senha</p>
                    <div class="input-box">
                        <i class='bx bxs-lock-alt' ></i>
                        <input type="password">
                    </div>
                </div>

                <div class="help-box">
                    <div class="remember-me"><input type="checkbox" name="" id=""><p>Lembrar de mim</p></div>
                    <div class="forgot-password"><p>Esqueceu sua senha?</p></div>
                </div>

                <button routerLink="signup" (click)="$event.preventDefault()">Criar Conta</button>

            </form>

            <div class="continue-with">
                <p>Ou continue com</p>
                <div class="line-black"></div>
            </div>

            <div class="social-media-container">

                <div class="social-box">
                    <img src="../../../assets/google.svg" alt="">
                    <p>Google</p>
                </div>
                
                <div class="social-box">
                    <img src="../../../assets/facebook.svg" alt="">
                    <p>Facebook</p>
                </div>
                
                <div class="social-box">
                    <img src="../../../assets/twitter.svg" alt="">
                    <p>Twitter</p>
                </div>

            </div>

        </div>

    </div>

</div>
