<div class="footer-container">
    <div class="wrapper">
        <div class="content">
            <div class="left">
                <img src="../../../assets/white-logo.svg">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
            </div>
    
            <div class="right">
                <ul>
                    <li><a href="#">Quem somos</a></li>
                    <li><a href="#">Perguntas frequentes</a></li>
                    <li><a href="#">Eventos</a></li>
                    <li><a href="#">Ingressos</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </div>
        </div>
    
        <hr>
        <p class="rights">Todos os direitos reservados &copy; 2023</p>
    </div>
</div>