<div class="card-container">
    <div class="user-track">
        <div class="user">
            <img src="../../../assets/fusion-mock.svg" class="user-image">
            <p class="name">Pedro Henrique</p>
        </div>

        <p class="track">Há uma semana</p>
    </div>

    <strong>Foda demaiss 🤟🏻</strong><br>
    <img src="../../../assets/stars-mock.svg" class="stars">
    <p class="comment">O melhor festival de rap que ja fui, mas teve um atraso de todas as atrações em pelo menos 2h</p>
</div>
